.profile__edit-button {
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0 18px 22px;
    background-color: transparent;
    background-image: url(../../../image/edit_pict.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    cursor: pointer;
    align-self: center;
    transition: opacity 0.3s linear;
    border: 1px solid #fff;
}

.profile__edit-button:hover {
    opacity: 0.6;    
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 0;
        margin-left: 10px;
        margin-top: 10px;
        background-size: 7.5px 7.5px;
    }
}