.gallery-card__like-count {
    color: #000000;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    padding-top: 3px;
    margin: 0;
    margin-bottom: 22px;
    min-height: 16px;
}