.profile__major {
    margin: 0;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__major {
        margin-bottom: 36px;
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (width: 320px) {
    .profile__major {
        font-size: 14px;
        line-height: 17px;        
    }
}