.popup__container-label {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000;
    margin-bottom: 54px;
}

@media screen and (max-width: 320px) {
    .popup__container-label {
        font-size: 18px;
        margin-bottom: 75px;
        line-height: 22px;
    }
}