.profile__name {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 16px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    color: #fff;
    max-width: 500px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 920px) {
    .profile__name {
        text-align: center;
    }
}

@media screen and (width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        margin: 26px 0 14px;
    }
}