.popup__container-fields {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

/* Комментарий для проверяющего

Возможно я что-то не понял, но напрямую заменить fieldset на form внутри другого form нельзя.
Формы вроде как не вкладываются друг в друга. Поэтому я не совсем понимаю как это предполагается сделать.

*/