.popup__container-save-btn {
    margin-top: 18px;
    background-color: #000;
    color: #fff;
    border: none;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.3s linear;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}

.popup__container-save-btn:hover {
    opacity: 0.8;      
}

.popup__container-save-btn:disabled {
    background-color: transparent;
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 2px;
    color: #000000;
}

@media screen and (max-width: 500px) {
    .popup__container-save-btn {
        margin-top: 15px;
        width: 238px;  
        height: 46px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}