.gallery-card__like {    
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    min-width: 22px;
    height: 19px;
    margin: 22px 30px 0;
    background-image: url(../../../image/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.gallery-card__like:hover {
    opacity: 0.5;
}